<% layout('layouts/boilerplate') -%>
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Surf Shop!</h1>
            <p>View our hand-picked campgrounds from all over the world! </p>
            <p><a class="btn btn-primary" href="/posts/new">Add New SurfBoard</a></p>
        </div>
    </header>

    <div class="row text-center">
        <% posts.forEach(post => {%>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="<%= post.image %>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= post.title %>
                        </h5>
                        <p class="card-text">Price:
                            <%= post.price%>
                        </p>
                        <a href="/posts/<%= post.id%>" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>

            <% }); %>
    </div>